#nav{
	background-color: #a59e8cff;
}

#nav{
	font-family: 'Raleway', sans-serif;
}

#skills{
	font-family: 'Raleway', sans-serif;
}

#skillsOverview{
	font-family: 'Raleway', sans-serif;
	color: whitesmoke;
}

#banner{
	background-image: url(https://images.pexels.com/photos/1764702/pexels-photo-1764702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-position: center;
	background-size: cover;
}

#footerSkills{
	font-family: 'Raleway', sans-serif;
}

#footerSkills{
	background-color: #a59e8cff;
}

i{
	color: white;
}

p{
	word-wrap: break-word ;
}

h5{
	word-wrap: break-word;
}

#jumbotron{
	background-color: rgba(0, 0, 10, 0.3);
	border-style: solid;
	border-color: rgba(0, 0, 50, 0.3);
}